Imports

In [1]:
import os
import pandas as pd

In [2]:
#format Jupyter so we can see the tables

In [3]:
# pd.set_option('display.max_rows', 500)
# pd.set_option('display.max_columns', 500)
# pd.set_option('display.width', 150)

The data in the MSF_Dataset_Complete File is misleading. The column that should correspond to Hypertension, corresponds to number of siblings. We are guessing that in the process of creating the "complete file" there was some error in copy-pasting. This explains why our initial results were so good, but also why there were a number of high correlations in our data set (whole columns were improperly copy-pasted by the dataset creators.)

In order to get more accurate results, we need to import and combine the individual files, and label them properly.

Outline:

Import the following files:
    1) MSF_HealthOutcome_450
    2) MSF_Mother_lifestyle_450
    3) MSF_Mother_Social_450
    4) MSF_Mother_stress_450
    5) MSF_Physical&health_Fetaures_450   [sic]

In [4]:
#in relation to the present notebook, all dataset files are stored in a directory called MSF Dataset_450

cwd = os.getcwd()

health_outcome_df = os.path.join(cwd, 'MSF Dataset_450', 'MSF_HealthOutcome_450.xlsx')

social_df = os.path.join(cwd, 'MSF Dataset_450', 'MSF_Dataset_Social_450_modified_nam.xlsx')
stress_df = os.path.join(cwd, 'MSF Dataset_450', 'MSF_Mother_stress_450_modified_nam.xlsx')
physhealth_df = os.path.join(cwd, 'MSF Dataset_450', 'MSF_Physical&health_Fetaures_450.xlsx')

outcome_df = pd.read_excel(health_outcome_df, skiprows = 5, index_col = 'Mother_UID')

In [5]:
#Notes on cleaning lifestyle_df

#We want our columns to be easily machine readable. Current hierarchical organization of columns is unreadable for algorithms.
#I'm heavily modifying the file in Excel and saving it as "MSF_Mother_lifestyle_450_modified_nam" 

#nested values are flattened.
#daily diet and sleep patterns need to be further parsed to avoid repetition in column names
#side note: surveyed sleep is poorly defined here: if someone sleeps exactly 8 hours they fall between the cracks of the divisions "More than 8 hours and Less than 7 hours"
lifestyle_path = os.path.join(cwd, 'MSF Dataset_450', 'MSF_Mother_lifestyle_450_modified_nam.xlsx')

lifestyle_df = pd.read_excel(lifestyle_path)
lifestyle_df.iloc[2,0] = 'Mother_UID'
lifestyle_df.columns = lifestyle_df.iloc[2]
lifestyle_df = lifestyle_df.drop(range(0,3))
lifestyle_df = lifestyle_df.set_index("Mother_UID")
lifestyle_df.index = lifestyle_df.index.astype(int)
lifestyle_df

2,Exercise_a,Exercise_b,Exercise_c,Laptop_a,Laptop_b,Laptop_c,Outside Food_a,Outside Food_b,Outside Food_c,Tea/Coffee_a,...,Travel_Mode_b,Travel_Mode_c,Works_As_b,Works_As_c,Contraceptive_Time_,Contraceptive_Type_before_preg,Intercourse_,Cravings_a,Cravings_b,Cravings_c
Mother_UID,,,,,,,,,,,,,,,,,,,,,
1,3,3,3,2,2,2,2,2,2,2,...,3,3,3,1,1,6,1,2,2,2
2,4,4,4,3,3,3,2,2,2,2,...,3,3,3,1,1,6,1,2,2,2
3,3,3,3,2,2,2,2,2,2,2,...,4,4,3,1,1,6,1,2,2,2
4,4,4,4,3,3,3,2,2,2,1,...,3,3,1,1,1,6,1,2,2,2
5,4,4,4,1,1,1,2,2,2,2,...,2,2,1,1,1,6,1,2,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446,2,2,2,3,3,3,2,2,2,2,...,5,5,2,1,2,1,1,NaN,NaN,NaN
447,4,4,4,3,3,3,2,2,2,3,...,2,2,3,1,5,1,3,NaN,NaN,NaN
448,4,4,4,4,4,4,4,4,4,3,...,2,2,3,3,6,4,3,NaN,NaN,NaN
449,3,3,3,3,3,3,2,2,2,2,...,3,3,3,3,2,4,2,NaN,NaN,NaN
450,4,4,4,2,2,2,2,2,2,2,...,4,4,4,4,2,4,1,NaN,NaN,NaN

In [6]:
lifestyle_freqs_df = lifestyle_df.describe()

In [7]:
lifestyle_freqs_df

2,Exercise_a,Exercise_b,Exercise_c,Laptop_a,Laptop_b,Laptop_c,Outside Food_a,Outside Food_b,Outside Food_c,Tea/Coffee_a,...,Travel_Mode_b,Travel_Mode_c,Works_As_b,Works_As_c,Contraceptive_Time_,Contraceptive_Type_before_preg,Intercourse_,Cravings_a,Cravings_b,Cravings_c
count,450,450,450,450,450,450,450,450,450,450,...,450,450,450,450,450,450,450,200,200,200
unique,4,4,4,4,4,4,4,4,4,3,...,7,7,5,5,6,6,3,3,3,3
top,4,4,4,1,1,1,2,2,2,2,...,1,3,1,1,1,6,1,2,2,2
freq,198,196,177,176,176,193,225,225,221,234,...,196,204,237,292,367,365,280,159,176,160

In [8]:
#We have nans. We'll set these to -1 for now.

lifestyle_df.fillna(-1, inplace=True)

In [9]:
lifestyle_df_objs = lifestyle_df.astype(str)
lifestyle_freqs_df = lifestyle_df_objs.describe()

In [10]:
lifestyle_freqs_df

2,Exercise_a,Exercise_b,Exercise_c,Laptop_a,Laptop_b,Laptop_c,Outside Food_a,Outside Food_b,Outside Food_c,Tea/Coffee_a,...,Travel_Mode_b,Travel_Mode_c,Works_As_b,Works_As_c,Contraceptive_Time_,Contraceptive_Type_before_preg,Intercourse_,Cravings_a,Cravings_b,Cravings_c
count,450,450,450,450,450,450,450,450,450,450,...,450,450,450,450,450,450,450,450,450,450
unique,4,4,4,4,4,4,4,4,4,3,...,7,7,5,5,6,6,3,4,4,4
top,4,4,4,1,1,1,2,2,2,2,...,1,3,1,1,1,6,1,-1,-1,-1
freq,198,196,177,176,176,193,225,225,221,234,...,196,204,237,292,367,365,280,250,250,250

Observations about lifestyle:

Almost all participants in study report that they didn't smoke or drink at any point in their lives.

In [11]:
lifestyle_df.astype(int)

2,Exercise_a,Exercise_b,Exercise_c,Laptop_a,Laptop_b,Laptop_c,Outside Food_a,Outside Food_b,Outside Food_c,Tea/Coffee_a,...,Travel_Mode_b,Travel_Mode_c,Works_As_b,Works_As_c,Contraceptive_Time_,Contraceptive_Type_before_preg,Intercourse_,Cravings_a,Cravings_b,Cravings_c
Mother_UID,,,,,,,,,,,,,,,,,,,,,
1,3,3,3,2,2,2,2,2,2,2,...,3,3,3,1,1,6,1,2,2,2
2,4,4,4,3,3,3,2,2,2,2,...,3,3,3,1,1,6,1,2,2,2
3,3,3,3,2,2,2,2,2,2,2,...,4,4,3,1,1,6,1,2,2,2
4,4,4,4,3,3,3,2,2,2,1,...,3,3,1,1,1,6,1,2,2,2
5,4,4,4,1,1,1,2,2,2,2,...,2,2,1,1,1,6,1,2,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446,2,2,2,3,3,3,2,2,2,2,...,5,5,2,1,2,1,1,-1,-1,-1
447,4,4,4,3,3,3,2,2,2,3,...,2,2,3,1,5,1,3,-1,-1,-1
448,4,4,4,4,4,4,4,4,4,3,...,2,2,3,3,6,4,3,-1,-1,-1
449,3,3,3,3,3,3,2,2,2,2,...,3,3,3,3,2,4,2,-1,-1,-1
450,4,4,4,2,2,2,2,2,2,2,...,4,4,4,4,2,4,1,-1,-1,-1

In [12]:
#Loading and cleaning social_df

#Like the lifestyle dataframe, the social dataframe contains nested categories. I've fixed these in the excel file to expedite cleaning here.

social_df = pd.read_excel(social_df, index_col = "Mother_UID", skiprows=range(1,6))

In [13]:
#loading and cleaning stress_df

stress_df = pd.read_excel(stress_df, skiprows = [2,3,4,5], header=1, index_col = 'Mother_UID')

In [14]:
#left off here---------------------------------------------------------------------------------------------------
#loading and cleaning physhealth_df
#As before, the organization here is messy. I'm going to rework it in excel and then load it here.

#load in the physical and health features dataset, remove the extraneous rows at the top, rename the first column Mother ID, and 
# assign that column as the index of the dataframe.

physhealth_df = os.path.join(cwd, 'MSF Dataset_450', 'MSF_Physical&health_Fetaures_450.xlsx')
physhealth_df = pd.read_excel(physhealth_df) 
physhealth_df = physhealth_df.iloc[5::, :]
physhealth_df.rename(columns = {'Unnamed: 0': 'Mother_UID',
                     }, inplace=True)
physhealth_df.set_index('Mother_UID', inplace=True)

In [15]:
physhealth_df

,Age_Of_Mother,weight_before_preg,wt_before_delivery,Height(cm),BMI,Hemoglobin,PCOS,Age_Father,Fertility_Treatment,Miscarriage History,...,Issues_Pregnancy,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
Mother_UID,,,,,,,,,,,,,,,,,,,,,
1,29.0,59.0,60,156.0,25.0,12.5,0.0,31.0,0.0,0,...,0,0,0,0,0,0,0,1,0,1
2,24.0,54.0,56,145.0,26.0,12.5,0.0,28.0,0.0,0,...,0,0,0,0,0,0,0,1,0,1
3,28.0,62.0,65,151.0,28.0,11.5,0.0,31.0,0.0,0,...,0,0,0,0,0,0,0,1,0,1
4,25.0,49.0,52,151.0,22.0,11.5,0.0,30.0,0.0,0,...,0,0,0,0,0,0,0,1,0,1
5,21.0,39.0,42,151.0,18.0,10.1,0.0,25.0,0.0,0,...,0,0,0,0,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446,24.0,56.0,NaN,149.0,26.0,11.4,0.0,28.0,0.0,NaN,...,0,0,0,0,0,0,1,0,0,1
447,35.0,55.0,NaN,151.0,25.0,12.4,1.0,40.0,0.0,NaN,...,0,0,0,0,0,0,1,0,0,1
448,38.0,50.0,NaN,145.0,24.0,11.0,1.0,45.0,1.0,NaN,...,0,0,0,0,0,0,1,0,0,1
449,27.0,50.0,NaN,131.0,30.0,11.1,1.0,32.0,0.0,NaN,...,0,0,0,0,0,0,1,0,0,1
450,23.0,45.0,NaN,139.0,24.0,12.4,0.0,28.0,0.0,NaN,...,0,0,0,0,0,0,1,0,0,1

In [16]:
physhealth_df.columns

Index(['Age_Of_Mother', 'weight_before_preg', 'wt_before_delivery',
       'Height(cm)', 'BMI', 'Hemoglobin', 'PCOS', 'Age_Father',
       'Fertility_Treatment', 'Miscarriage History', 'Menstrual_Cycle',
       'Unnamed: 12', 'Time_Taken_To_Concieve', 'Issues_Pregnancy',
       'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18',
       'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [17]:
#There are some improperly named columns here. Let's handle them

physhealth_df = physhealth_df.rename(columns = {
    'Unnamed: 12': 'Menstrual_Cycle_b', 
    'Issues_Pregnancy': 'Thyroid',
    'Unnamed: 15': 'Hypertension',
    'Unnamed: 16': 'Diabetes',
    'Unnamed: 17': 'Gastric_Issue',
    'Unnamed: 18': 'Cold/Virus',
    'Unnamed: 19': 'Low_Amniotic',
    'Unnamed: 20': 'High_Amniotic',
    'Unnamed: 21': 'No_Health_Issues',
    'Unnamed: 22': 'IVF',
    'Unnamed: 23': 'No of births(single/Twins)',
})

## Summary of cleaning: We now have five dataframes:

- 1) outcome_df
- 2) lifestyle_df
- 3) social_df
- 4) stress_df
- 5) physhealth_df

Each one has the Mother_UID as its index and all extraneous rows have been removed.

Before we join them into one dataframe, let's do some quick EDA with sweetviz.

In [18]:
#!pip install sweetviz
import sweetviz as sv
outcome_report = sv.analyze(outcome_df)
outcome_report.show_html('outcome.html')
lifestyle_report = sv.analyze(lifestyle_df)
lifestyle_report.show_html('lifestyle.html')
social_report = sv.analyze(social_df)
social_report.show_html('social.html')
stress_report=sv.analyze(stress_df)
stress_report.show_html('stress.html')
physhealth_report=sv.analyze(physhealth_df)
physhealth_report.show_html('physhealth.html')

HBox(children=(HTML(value=''), FloatProgress(value=0.0, layout=Layout(flex='2'), max=11.0), HTML(value='')), l…

Report outcome.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

HBox(children=(HTML(value=''), FloatProgress(value=0.0, layout=Layout(flex='2'), max=72.0), HTML(value='')), l…

Report lifestyle.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

HBox(children=(HTML(value=''), FloatProgress(value=0.0, layout=Layout(flex='2'), max=20.0), HTML(value='')), l…

Report social.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

HBox(children=(HTML(value=''), FloatProgress(value=0.0, layout=Layout(flex='2'), max=11.0), HTML(value='')), l…

Report stress.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

HBox(children=(HTML(value=''), FloatProgress(value=0.0, layout=Layout(flex='2'), max=24.0), HTML(value='')), l…

Report physhealth.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

In [19]:
#sweetviz reports a number of duplicates;


#In the case of the outcome_df, it is conceivable
#that different mother delivered babies with roughly the same weight and in the same mannner. It may be worth looking
#for identical rows once the whole dataframe is completed. Matching on all features would be less likely.

len(outcome_df[outcome_df.duplicated(keep=False)])
outcome_df[outcome_df.duplicated(keep=False)]

,PreTerm,Full Term,Weight_Baby_Kg,Hospital Stay in days,NICU Stay,Jaundice,C-section,Vaginal Delivery,Hours_In_Labour,Induce_Pain
Mother_UID,,,,,,,,,,
6,0,1,2.560,7,0,0,1,0,10,0
10,0,1,2.900,7,0,0,1,0,15,0
31,0,1,2.860,5,0,0,0,1,20,0
35,0,1,2.560,7,0,0,1,0,10,0
38,0,1,3.150,5,0,0,0,1,18,0
74,1,0,1.150,7,1,0,1,0,16,0
75,1,0,1.150,7,1,0,1,0,16,0
80,0,1,2.580,5,0,0,0,1,18,0
82,0,1,3.150,7,0,0,1,0,12,0
87,0,1,3.150,5,0,0,0,1,18,0
88,0,1,2.580,5,0,0,0,1,18,0
92,0,1,2.560,5,0,0,0,1,20,0
95,0,1,2.560,5,0,0,0,1,20,0
100,0,1,2.900,7,0,0,1,0,15,0
101,0,1,2.560,7,0,0,1,0,10,0
144,0,1,2.875,5,0,0,0,1,16,0
151,0,1,2.875,5,0,0,0,1,16,0
160,0,1,3.150,7,0,0,1,0,12,0
168,0,1,2.460,5,1,0,0,1,16,0
174,0,1,2.460,5,1,0,0,1,16,0
204,0,1,2.640,4,0,0,0,1,9,0
208,0,1,2.080,7,0,0,1,0,0,0
209,0,1,3.080,7,0,0,1,0,0,1
223,0,1,2.180,4,0,0,0,1,12,0
224,0,1,3.110,4,0,0,0,1,11,0
245,0,1,2.640,4,0,0,0,1,9,0
254,0,1,2.180,4,0,0,0,1,12,0
258,0,1,3.080,7,0,0,1,0,0,1
269,0,1,3.250,4,0,0,0,1,13,0
295,0,1,3.250,4,0,0,0,1,13,0
317,0,1,3.110,4,0,0,0,1,11,0
325,0,1,2.130,7,0,0,1,0,0,0
326,0,1,2.080,7,0,0,1,0,0,0
327,0,1,2.130,7,0,0,1,0,0,0
331,0,1,2.415,7,0,0,1,0,0,0
332,0,1,2.415,7,0,0,1,0,0,0
359,0,1,3.380,7,0,0,1,0,0,0
397,0,1,3.380,7,0,0,1,0,0,0
439,0,1,2.860,5,0,0,0,1,20,0

- 1) outcome_df
- 2) lifestyle_df
- 3) social_df
- 4) stress_df
- 5) physhealth_df

## Joining dataframes

In [20]:
merged_df = pd.merge(outcome_df, lifestyle_df, on='Mother_UID')
merged_df = pd.merge(merged_df, social_df, on='Mother_UID')     
merged_df = pd.merge(merged_df, stress_df, on='Mother_UID')
merged_df = pd.merge(merged_df, physhealth_df, on='Mother_UID')

In [21]:
merged_df

,PreTerm,Full Term,Weight_Baby_Kg,Hospital Stay in days,NICU Stay,Jaundice,C-section,Vaginal Delivery,Hours_In_Labour,Induce_Pain,...,Thyroid,Hypertension,Diabetes,Gastric_Issue,Cold/Virus,Low_Amniotic,High_Amniotic,No_Health_Issues,IVF,No of births(single/Twins)
Mother_UID,,,,,,,,,,,,,,,,,,,,,
1,0,1,2.566,5,0,0,0,1,18,0,...,0,0,0,0,0,0,0,1,0,1
2,0,1,3.100,5,0,0,0,1,20,0,...,0,0,0,0,0,0,0,1,0,1
3,0,1,2.150,7,0,0,1,0,5,0,...,0,0,0,0,0,0,0,1,0,1
4,0,1,2.500,5,0,0,0,1,10,0,...,0,0,0,0,0,0,0,1,0,1
5,0,1,2.670,5,0,0,0,1,20,0,...,0,0,0,0,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446,1,0,1.800,7,1,0,1,0,18,0,...,0,0,0,0,0,0,1,0,0,1
447,0,1,2.075,7,1,1,1,0,11,0,...,0,0,0,0,0,0,1,0,0,1
448,0,1,2.400,7,1,1,1,0,28,0,...,0,0,0,0,0,0,1,0,0,1
449,1,0,2.480,7,1,0,1,0,12,0,...,0,0,0,0,0,0,1,0,0,1
450,1,0,2.475,7,1,0,1,0,11,0,...,0,0,0,0,0,0,1,0,0,1

In [22]:
list(merged_df.columns)

['PreTerm',
 'Full Term',
 'Weight_Baby_Kg',
 'Hospital Stay in days',
 'NICU Stay',
 'Jaundice',
 'C-section',
 'Vaginal Delivery',
 'Hours_In_Labour',
 'Induce_Pain',
 'Exercise_a',
 'Exercise_b',
 'Exercise_c',
 'Laptop_a',
 'Laptop_b',
 'Laptop_c',
 'Outside Food_a',
 'Outside Food_b',
 'Outside Food_c',
 'Tea/Coffee_a',
 'Tea/Coffee_b',
 'Tea/Coffee_c',
 'Cigratte_a',
 'Cigratte_b',
 'Cigratte_c',
 'Alcohol_a',
 'Alcohol_b',
 'Alcohol_c',
 'NOISE/AIR pollution_a',
 'NOISE/AIR pollution_b',
 'NOISE/AIR pollution_c',
 'Health Concious_a',
 'Health Concious_b',
 'Health Concious_c',
 'Diet_Grains_veg_pulses_rice_salad_a',
 'Diet_More_pulses_and_rice_a',
 'Diet_dairy_prods_a',
 'Diet_snacks_high_carbs_a',
 'Diet_non_vegetarian_a',
 'Diet_fruits_salads_a',
 'Diet_Grains_veg_pulses_rice_salad_b',
 'Diet_More_pulses_and_rice_b',
 'Diet_dairy_prods_b',
 'Diet_snacks_high_carbs_b',
 'Diet_non_vegetarian_b',
 'Diet_fruits_salads_b',
 'Diet_Grains_veg_pulses_rice_salad_c',
 'Diet_More_pulses_and_rice_c',
 'Diet_dairy_prods_c',
 'Diet_snacks_high_carbs_c',
 'Diet_non_vegetarian_c',
 'Diet_fruits_salads_c',
 'Sleep_early_riser_a',
 'Sleep_night_owl_a',
 'sleep_mr_thn_8_hrs_a',
 'Sleep_lss_thn_7_hrs_a',
 'Sleep_early_riser_b',
 'Sleep_night_owl_b',
 'Sleep_mr_thn_8_hrs_b',
 'Sleep_lss_thn_7_hrs_b',
 'Sleep_early_riser_c',
 'Sleep_night_owl_c',
 'Sleep_mr_thn_8_hrs_c',
 'Sleep_lss_thn_7_hrs_c',
 'sunlight_a',
 'sunlight_b',
 'sunlight_c',
 'Travel_Time_a_x',
 'Travel_Time_b_x',
 'Travel_Time_c_x',
 'Travel_Mode_a',
 'Travel_Mode_b',
 'Travel_Mode_c',
 'Works_As_b',
 'Works_As_c',
 'Contraceptive_Time_',
 'Contraceptive_Type_before_preg',
 'Intercourse_',
 'Cravings_a',
 'Cravings_b',
 'Cravings_c',
 'Yrs_Of_Marriage',
 'Sibling',
 'No_of_sibling',
 'Education',
 'Family_Income',
 'Hobbies_a',
 'Hobbies_b',
 'Hobbies_c',
 'Hobbies_d',
 'Hobbies_e',
 'Hobbies_f',
 'Hobbies_g',
 'Leave',
 'Family_Support_a',
 'Family_Support_b',
 'Family_Support_c',
 'You_Support_a',
 'You_Support_b',
 'You_Support_c',
 'Travel_Time_a_y',
 'Travel_Time_b_y',
 'Travel_Time_c_y',
 'Work_Hours_a',
 'Work_Hours_b',
 'Stress_a',
 'Stress_b',
 'Happy',
 'depressed_a',
 'depressed_b',
 'Age_Of_Mother',
 'weight_before_preg',
 'wt_before_delivery',
 'Height(cm)',
 'BMI',
 'Hemoglobin',
 'PCOS',
 'Age_Father',
 'Fertility_Treatment',
 'Miscarriage History',
 'Menstrual_Cycle',
 'Menstrual_Cycle_b',
 'Time_Taken_To_Concieve',
 'Thyroid',
 'Hypertension',
 'Diabetes',
 'Gastric_Issue',
 'Cold/Virus',
 'Low_Amniotic',
 'High_Amniotic',
 'No_Health_Issues',
 'IVF',
 'No of births(single/Twins)']